.details-card{
    height: 100%;
}

.details-card-content{
    text-align: center;
}

.details-card-header{
    border-bottom: 1px solid darkgray;
    margin-bottom: 1rem;
}

.prop-label{
    font-weight: 700;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    margin-top: 1rem;
}